* {
    box-sizing: border-box;
    margin: 0%;
    font-family:monospace;
    
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
 
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }



  
  .topnav {

    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:none;
    z-index: 99;
    
    font-size: 35px;
     padding: 25px 10px;
    transition: 0.6s;
    text-transform: uppercase;
    font-family: 'Montserrat', 'sans-serif';
   
       
}

  
  
  .topnav a {
    float: left ;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav-right {
      margin-right: 60px ;
    float: right;
  }
  .topnav::after {
    content: "";
    clear:both;
    display: table;
  }
  
  .topnav a:hover {
   
    color: black;
  }
  
  .topnav a.active {
    background-color: none;
    font-weight: bolder;
    color: rgb(0, 0, 0);
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    .topnav a{display: none;}
    .topnav{background-color: rgba(255, 255, 255, 0);padding: 10px;}
    .icon:hover{color:rgb(169, 50, 205);}
    .topnav a.icon {
      float: right;
      display: block;
      color: rgb(119, 16, 50);
      font-size: 30px;
      padding-right: 50px;
    }   
    .headline.rotate-1 b{color:rgb(122, 26, 26);}
  }
 

  @media screen and (max-width: 767px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.6s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #db3b3b;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    left: 35px;
    color:  darkgoldenrod;;
    font-size: 50px;
  }
  .overlay .closebtn:hover {
    top:5px;
    font-size: 60px;

  }

  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }



  #home{
    background-image:url('https://cdn.pixabay.com/photo/2017/07/31/11/44/laptop-2557571_1280.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    
  }




  hederTxt1
{
    background-color: rgba(175, 141, 175, 0);
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight:normal;
    text-transform: uppercase;
   
    letter-spacing: 4px;
    
}
  
  
  #intro-wrapper {
    /*   background-color: #333; */
    /*   border:thin solid green; */
      width: 100%;
      min-height: 5em;
      display: flex;
      align-items: center;
    }
    
    #intro {
    /*   background-color: rgba(0,0,0,0.2); */
      width: 30em;
      margin: 0 auto;
    /*   border: thin solid blue; */
    }
    
    .headline {
      margin: 10px;
    }
    
    .headline.rotate-1 .word-wrapper {
      display: inline-block;
      perspective: 300px;
    }
    
    .headline.rotate-1 b {
      opacity: 0;
      transform-origin: 50% 100%;
      transform: rotateY(180deg);
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 70px;
        color: rgb(0, 0, 0);
        letter-spacing: 6px;
    }
    
    .headline.rotate-1 b.is-visible {
      position: relative;
      opacity: 1;
      transform: rotateY(0deg);
      animation: rotate-1-in 1.2s;
        
    }
    
    .headline.rotate-1 b.is-hidden {
      transform: rotateY(180deg);
      animation: rotate-1-out 1.2s;
    }
    
    @keyframes rotate-1-in {
      0% {
        transform: rotateY(180deg);
        opacity: 0;
      }
      35% {
        transform: rotateY(120deg);
        opacity: 0;
      }
      65% {
        opacity: 0;
      }
      100% {
        transform: rotateY(360deg);
        opacity: 1;
      }
    }
     
    @keyframes rotate-1-out {
      0% {
        transform: rotateY(0deg);
        opacity: 1;
      }
      35% {
        transform: rotateY(-30deg);
        opacity: 1;
      }
      65% {
        opacity: 0;
      }
      100% {
        transform: rotateY(180deg);
        opacity: 0;
      }
    }



    /* About Section */
    #about{
        background-color: rgb(255, 255, 255);
        height: 100%;
        
       
        border-radius: 20% 80% 20% 80% / 15% 15% 15% 15% ;
    }

    .services .content {
        position: relative;
        z-index: 55;
        text-align: center;
        padding: 45px 25px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease-in-out 0s;
    }

    
.services .content:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
}

.services .icon {
    display: inline-block;
    position: relative;
    z-index: -2;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: rgba(216, 191, 216, 0.788);
}

.services i {
    font-size: 30px;
    color: #222;
    line-height: 82px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.services i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #111;
    border-radius: 50%;
    transform: scale(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.services .content:hover i {
    color: #fff;
}

.services .content:hover i:after {
    transform: scale(1);
}

.services h3 {
    font-size: 18px;
    font-weight: 500;
    color: #222;
    margin-top: 25px;
    margin-bottom: 15px;
}

.services .content p {
    margin-bottom: 0;
    font-size: 15px;
}
